.client-table-row {
  background: white; /* default color */

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, white 50%, rgba(107, 85, 148, 0.3) 50%)
    right;
  background-size: 200%;
  transition: 0.4s ease-in;
}

.client-table-row:hover {
  background-position: left;
  border-radius: 10px;
}
