body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-family: "Merriweather", serif;
  /* background: url("https://www.pngmagic.com/product_images/high-resolution-light-yellow-background.jpg")
    no-repeat;
  background-size: cover;
  height: 100vh; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
